body{
    height:100vh;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:50px 5fr 50px;
    grid-gap: 5px;
    grid-template-areas: 
    "header header header nav nav nav nav nav nav nav"
    "aside aside main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer";
    
    background-color: #eee;
}
header{
    background-color:rgb(176, 124, 224);
    grid-area: header;
    border-radius: 6px;
}
.inter{
    grid-row-start:2 ;
    grid-row-end:3 ;
    grid-column-start:2 ;
    grid-column-end: 6;
    background-color: black;
    color:yellow;
    height: 100px;
    margin-top: 100px;
    opacity: .7;
    border-radius:50%;
    text-align: center;
    justify-content: center;padding-top: 120px;
}
nav{
    background-color: chartreuse;
    grid-area:nav;
    border-radius: 6px;

}
nav >ul > li{
    display:inline-block;
    justify-content: space-between;
    padding-left: 10px;
    color:rgb(16, 109, 109);

}
main{
    background-color:coral;
    grid-area:main;
    border-radius: 6px;

}
aside{
    background-color: bisque;
    grid-area:aside;
    border-radius: 6px;

}
footer{
    background-color: rgb(113, 83, 36);
    grid-area:footer;
    border-radius: 6px;

}